In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
df = pd.read_csv("/content/Toyota.csv")

In [2]:
df.head(100)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
95,95,19950,17.0,30351,Diesel,90,1.0,0,1995,3,1260
96,96,15950,19.0,29435,Petrol,97,1.0,0,1400,3,1100
97,97,15950,19.0,25948,Petrol,97,1.0,0,1400,3,1100
98,98,18750,11.0,24500,Petrol,110,NaN,0,1600,3,1120
99,99,17450,18.0,23902,Petrol,97,1.0,0,1400,3,1100

In [3]:
df.info

<bound method DataFrame.info of       Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
0              0  13500  23.0  46986   Diesel   90       1.0          0  2000
1              1  13750  23.0  72937   Diesel   90       1.0          0  2000
2              2  13950  24.0  41711   Diesel   90       NaN          0  2000
3              3  14950  26.0  48000   Diesel   90       0.0          0  2000
4              4  13750  30.0  38500   Diesel   90       0.0          0  2000
...          ...    ...   ...    ...      ...  ...       ...        ...   ...
1431        1431   7500   NaN  20544   Petrol   86       1.0          0  1300
1432        1432  10845  72.0     ??   Petrol   86       0.0          0  1300
1433        1433   8500   NaN  17016   Petrol   86       0.0          0  1300
1434        1434   7250  70.0     ??      NaN   86       1.0          0  1300
1435        1435   6950  76.0      1   Petrol  110       0.0          0  1600

      Doors  Weight
0     three    1165
1         3    1165
2         3    1165
3         3    1165
4         3    1170
...     ...     ...
1431      3    1025
1432      3    1015
1433      3    1015
1434      3    1015
1435      5    1114

[1436 rows x 11 columns]>

In [4]:
df.MetColor.head(10)

0    1.0
1    1.0
2    NaN
3    0.0
4    0.0
5    0.0
6    NaN
7    1.0
8    0.0
9    NaN
Name: MetColor, dtype: float64

In [5]:
df.HP.unique()

array(['90', '????', '192', '110', '97', '71', '116', '98', '69', '86',
       '72', '107', '73'], dtype=object)

In [6]:
copy_df = df.copy()
copy_df.fillna(0, inplace=True)

In [7]:
#replace all string data objects to iteger bject
from sklearn.preprocessing import LabelEncoder
# Initialize the LabelEncoder
label_encoder = LabelEncoder()

In [8]:
# Iterate through columns and apply label encoding to each string column
for column in df.columns:
    if df[column].dtype == 'object':  # Check if the column contains strings
        df[column] = label_encoder.fit_transform(df[column])

In [9]:
# apply normalization techniques
def normalize_column(column):
    min_val = column.min()
    max_val = column.max()
    normalized_column = (column - min_val) / (max_val - min_val)
    return normalized_column

In [10]:
# view normalized data
df["Price"]=normalize_column(df["Price"]);
df["Age"]=normalize_column(df["Age"]);
df["KM"]=normalize_column(df["KM"]);
display(df)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,0.325044,0.278481,0.446215,1,9,1.0,0,2000,6,1165
1,1,0.333925,0.278481,0.763347,1,9,1.0,0,2000,1,1165
2,2,0.341030,0.291139,0.394422,1,9,NaN,0,2000,1,1165
3,3,0.376554,0.316456,0.461355,1,9,0.0,0,2000,1,1165
4,4,0.333925,0.367089,0.360956,1,9,0.0,0,2000,1,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,0.111901,NaN,0.218327,2,8,1.0,0,1300,1,1025
1432,1432,0.230728,0.898734,1.000000,2,8,0.0,0,1300,1,1015
1433,1433,0.147425,NaN,0.183267,2,8,0.0,0,1300,1,1015
1434,1434,0.103020,0.873418,1.000000,3,8,1.0,0,1300,1,1015
1435,1435,0.092362,0.949367,0.000000,2,1,0.0,0,1600,3,1114

In [11]:
df2= df.copy()
df2.fillna(0, inplace=True)

In [12]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for column in df2.columns:
    if df2[column].dtype == 'object':
        df2[column] = label_encoder.fit_transform(df2[column])

In [13]:
def decimal_scaling(column):
    max_val = column.max()
    j = len(str(max_val))
    normalized_column = column / (10 ** j)
    return normalized_column

In [14]:
df2["Price"]=decimal_scaling(df2["Price"]);
df2["Age"]=decimal_scaling(df2["Age"]);
df2["KM"]=decimal_scaling(df2["KM"]);
display(df2)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,0.000325,0.000278,0.000446,1,9,1.0,0,2000,6,1165
1,1,0.000334,0.000278,0.000763,1,9,1.0,0,2000,1,1165
2,2,0.000341,0.000291,0.000394,1,9,0.0,0,2000,1,1165
3,3,0.000377,0.000316,0.000461,1,9,0.0,0,2000,1,1165
4,4,0.000334,0.000367,0.000361,1,9,0.0,0,2000,1,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,0.000112,0.000000,0.000218,2,8,1.0,0,1300,1,1025
1432,1432,0.000231,0.000899,0.001000,2,8,0.0,0,1300,1,1015
1433,1433,0.000147,0.000000,0.000183,2,8,0.0,0,1300,1,1015
1434,1434,0.000103,0.000873,0.001000,3,8,1.0,0,1300,1,1015
1435,1435,0.000092,0.000949,0.000000,2,1,0.0,0,1600,3,1114

In [15]:
df3 = df.copy()
df3.fillna(0, inplace=True)

In [16]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for column in df3.columns:
    if df3[column].dtype == 'object':
        df3[column] = label_encoder.fit_transform(df3[column])

In [17]:
import statistics as st
def z_score(column):
    mean = st.mean(column)
    std_dev = st.stdev(column)
    normalized_column = abs(column - mean) / std_dev
    return normalized_column

In [18]:
df3["Price"]=z_score(df3["Price"]);
df3["Age"]=z_score(df3["Age"]);
df3["KM"]=z_score(df3["KM"]);
display(df3)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,0.763497,1.271583,0.199377,1,9,1.0,0,2000,6,1165
1,1,0.832425,1.271583,0.893054,1,9,1.0,0,2000,1,1165
2,2,0.887567,1.227530,0.377789,1,9,0.0,0,2000,1,1165
3,3,1.163280,1.139424,0.147225,1,9,0.0,0,2000,1,1165
4,4,0.832425,0.963212,0.493070,1,9,0.0,0,2000,1,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,0.890779,2.240747,0.984390,2,8,1.0,0,1300,1,1025
1432,1432,0.031480,0.887010,1.708260,2,8,0.0,0,1300,1,1015
1433,1433,0.615067,2.240747,1.105161,2,8,0.0,0,1300,1,1015
1434,1434,0.959707,0.798904,1.708260,3,8,1.0,0,1300,1,1015
1435,1435,1.042421,1.063221,1.736465,2,1,0.0,0,1600,3,1114